<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="musicBean"
          class="com.trackenshure.model.RockMusic">
    </bean>

    <bean id="musicPlayer"
          class="com.trackenshure.MusicPlayer">
        <constructor-arg ref="musicBean"/>
    </bean>

    <!--<bean id="testBean1"-->
          <!--class="com.trackenshure.model.TestBean">-->
    <!--</bean>-->

    <!--<bean id="testBean2"-->
          <!--class="com.trackenshure.model.TestBean">-->
        <!--<constructor-arg value="Serhii"/>-->
    <!--</bean>-->

    <!--<bean id="audi" class="com.trackenshure.model.Car">-->
    <!--<constructor-arg value="1"/>-->
    <!--<constructor-arg value="audi"/>-->
    <!--<constructor-arg value="read"/>-->
    <!--</bean>-->

    <!--<bean id="audi" class="com.trackenshure.model.Car">-->
        <!--<property name="id" value="1"/>-->
        <!--<property name="name" value="audi"/>-->
        <!--<property name="color" value="read"/>-->
    <!--</bean>-->

    <!--<bean id="bmw" class="com.trackenshure.model.Car">-->
    <!--</bean>-->

</beans>